@model WebDemo.Models.AccountModel
@{
    ViewBag.Title = "Edit Account";
}
<div class="container" style="padding-top: 45px">
    <h2>
        Edit Account</h2>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Account Parameters</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <input type="hidden" value="@ViewBag.Notification" id="dataNotification" name="dataNotification" />
            <hr />
            <div class="editor-label">
                Notification Forwarding :
            </div>
            <div class="editor-field">
                <table id="tnotif">
                    <caption>
                        <tr>
                            <td>
                                <input id="newUrl" />
                            </td>
                            <td>
                                <input id="newAssets" />
                                <button id="add" type="button">
                                    Add or update</button>
                            </td>
                        </tr>
                    </caption>
                    <thead>
                        <tr>
                            <td>
                                Url
                            </td>
                            <td>
                                Assets (separate by ; )
                            </td>
                        </tr>
                    </thead>
                    <tbody id="bodyNotifTable">
                    </tbody>
                </table>
            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
<script type="text/javascript">
    var dataNotification;

    $(document).ready(function () {
        $("#add").bind("click", function () {
            var url = $("#newUrl").val();
            var assets = $("#newAssets").val();
            dataNotification[url] = assets;
            $("#newUrl").val("");
            $("#newAssets").val("");
            updateDataNotification();
        });

        dataNotification = JSON.parse($("#dataNotification").val());
        if (dataNotification == null) dataNotification = {};
        updateTable();
    });

    function updateTable() {

        $("#bodyNotifTable").html("");
        var firstline = true;
        if (dataNotification) {
            for (name in dataNotification) {
                if (firstline) {
                    $("#bodyNotifTable").html("<tr><td>" + name + "</td><td>" + dataNotification[name] + "<button id='delete' data='" + name + "' type='button'>Delete</button></td></tr>");
                    firstline = false;
                }
                else
                    $("#bodyNotifTable tr:last").after("<tr><td>" + name + "</td><td>" + dataNotification[name] + "<button id='delete'  data='" + name + "' type='button'>Delete</button></td></tr>");
            }
        }

        $("#delete").bind("click", function () {
            var url = $(this).attr('data')
            delete dataNotification[url]
            updateDataNotification();
        });
    }
    function updateDataNotification() {
        $("#dataNotification").val(JSON.stringify(dataNotification));
        updateTable();
    }
</script>
